
.username__input{
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 15px;
	padding-bottom: 3px;
	border-radius: 5px;
	width: 250px;
	justify-content: center;
	align-items: center;
}

.password__input {
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 15px;
	padding-bottom: 3px;
	border-radius: 5px;
	width: 250px;
	justify-content: center;
	align-items: center;
}

.button {
	border: none;
	padding: 8px 15px 8px 15px;
	background: rgba(0, 0, 0, 0.726);
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin-left: 18%;
}

hr {
	justify-content: center;
	align-items: center;
	width: 100%;

}

.cssTitle {

}

.cssForm {
text-align: center;
}

.wrapper {
width: 400px;
}

.ReactModal__Content, .ReactModal__Content--after-open {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(255, 255, 255);
	position: relative !important;
	border: solid 1px;
	border-color: rgba(0, 0, 0, 0.336);
	height: 300px;
	width: 500px;
	border-radius: 5px;
	top: -100px !important;
	left: 0px !important;
	right: 0px !important;
	bottom: 0px !important;
}

.ReactModal__Overlay, .ReactModal__Overlay--after-open {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

}