body {
  margin: 0;
  padding: 0;
	background-image: url("./assets/archive.jpg");
	background-size: auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	background-color: rgb(0, 0, 0);
}

.table {
	width: 90%;
	margin: auto;
	border-radius: 0px;
	background-color: rgba(255,255,255,.301);

}

.card {
	width: 90%;
	margin: auto;
	border-radius: 10px;
	background-color: rgba(255,255,255,.301);
}


form {
	width: 75%;
	margin: auto;
}