.subLinks{
	display: flex; /* or inline-flex */
	flex-direction: row;
	justify-content: flex-start;
}
.link {
	order: 0;
	flex-grow: 0;
	letter-spacing: 2px;
	font-size: 12px;
	margin-top: 15px;
	margin-bottom: 25px;
	margin-left: 15px;
	margin-right: 15px;
}

.linkStyle {
	color: rgba(255, 255, 255, 0.822);
	text-decoration: none;
}

.linkStyle:active, .linkStyle:hover{
	color: rgb(255, 255, 255);
	text-decoration: none;
}